@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

.gradient-install
{
  background: linear-gradient(90deg,rgb(213, 213, 61),orange);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.gradient-install-hover:hover
{
  background: linear-gradient(90deg,rgb(213, 213, 61),orange);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  @apply border-orange-300

}


.homeImg{
  position: relative;

}
.homeImg::before
{
  content: "";
  position: absolute;
  background:url(./components/images/Home.jpg);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.3;
  background-size: cover;
  background-position: center;
  filter: blur(10px);

}

.custom-dropdown .react-dropdown-select-dropdown {
  background-color: #222f3e;
}

.custom-dropdown .react-dropdown-select-item {
  color: #ffc900;
}

.custom-dropdown .react-dropdown-select-item:hover,
.custom-dropdown .react-dropdown-select-item:active {
  background-color: #ffc900;
  color: #222f3e;
}

.custom-dropdown.react-dropdown-select{
  @apply rounded-lg flex md:w-[500px] w-[300px] px-3 md:py-4 py-2
  border border-gray-300 placeholder-gray-400 focus:text-[#ffc900]
  focus:outline-none focus:ring-[#ffc900] focus:border-[#ffc900]
  focus:z-10 md:text-[16px] text-[10px] active:scale-105 bg-[#222f3e]
  transition-all duration-300 ease-out text-gray-300
}
.custom-dropdown.react-dropdown-select:hover {
  outline: none !important
}
.custom-dropdown.react-dropdown-select::-webkit-scrollbar {
  width: 5px;
}

.custom-dropdown.react-dropdown-select::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-dropdown.react-dropdown-select::-webkit-scrollbar-thumb {
  background: #222f3e;
}

.custom-dropdown.react-dropdown-select::-webkit-scrollbar-thumb:hover {
  background: #222f3e;
}
